@font-face {
	font-family: 'Adelle Regular';
	src: local('adelle_regular_webfont'), url('assets/adelle_regular_webfont.woff') format('woff');
}
body {
    background-color: #242a38;
}
.content {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}
.content #about_biography_section {
    display: grid;
    grid-template-columns: 55% 40%;
    column-gap: 5%;
}
.content #about_biography_section #about_biography_section_text #about_title_1 {
    font-family: 'Adelle Regular';
    font-size: 5vw;
    color: #242a38;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    display: inline;
}
.content #about_biography_section #about_biography_section_text #about_text_1 {
    font-family: 'Adelle Regular';
    color: rgb(162, 162, 162);
    font-size: 1.25vw;
}
.content #about_biography_section #about_biography_section_text #about_title_2 {
    font-family: 'Adelle Regular';
    font-size: 2.5vw;
    color: #242a38;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin-top: 5%;
}
.content #about_biography_section #about_biography_section_text #about_button_section .about_buttons {
    transition: 250ms linear;
    margin-right: 2%;
    border-color: black;
    background-color: white;
    color: black;
    border-radius: 999px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 2vw;
    line-height: 24px;
    outline: 0 solid transparent;
    padding: 1%;
    word-break: break-word;
    border-style: solid;
    font-family:'Adelle Regular';
    text-decoration: none;
    filter: drop-shadow(0 5px);
}
.content #about_biography_section #about_biography_section_text #about_button_section .about_buttons:hover {
    transition: 250ms linear;
    transform: translate(0px, 5px);
    filter: drop-shadow(0 0);
}
.content #about_biography_section #about_biography_section_image  #jonah_maligaya_professional_picture{
    width: 100%;
}